

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  

.link1 {
     margin-left: 10px;
    font-size: 12px;
    max-width: 150px;
}
.link2{
	color: #777;
    font-size: 12px;
    
	margin-left: 10px;
}
.Radio {
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    padding: 5px 0 5px 4px;
}
.pvl {
    padding-bottom: 20px;
    padding-top: 20px;
}
._58mk {
    border-top: 1px solid #a0a9c0;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
p{color: #777;
    font-size: 11px;
    width: 316px;}
	.mvl {
    margin-bottom: 20px;
    margin-top: 20px;
}
hedding{

   style="font-family:Freight Sans Bold,lucida grande,tahoma,verdana,arial,sans-serif;font-weight:bold ;
    text-rendering: optimizelegibility;margin-bottom: 5px;color: #333;font-size: 33px;line-height: 100%;"

}
h1{}
















